# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Assets
assets/
data/
4.18（测试）.txt

# IDEs
.idea/
.vscode/
*.swp
*.swo
