# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Assets (Consider uncommenting if you don't want to commit these)
# data/
# assets/

# IDEs
.idea/
.vscode/
*.swp
*.swo
